.rules {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 300px;
}

body {
    background-color: #cce5ff;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.explain {
    text-align: justify;
    text-indent: 30px;
    box-shadow: 2px 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    transform: scale(1.5);
    transform-origin: top;
    overflow: hidden;
}
footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    width: 100%;
    background-color: #333;
    text-align: center;
    padding: 10px;
}

a {
    color: white;
}


button {
    height: 24px;
    text-align: center;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 50px;
    font-family: 'Indie Flower', cursive;
    margin: 10px;
}

button:hover {
    background-color: #007bff;
    /* Cor de fundo quando hover */
    color: #fff;
    /* Cor do texto quando hover */
    border: 1px solid #007bff;
    /* Borda quando hover */
    transition: background-color 1s linear;
    /* Transição suave de cor de fundo */
}

.win {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    transform: scale(1.5);
}

@media (max-width: 600px) {
    body {
        background-color: lightblue;
        overflow: scroll;
    }

    .container {
        transform: scale(1.0);
    }

    .center {
        flex-direction: column;
    }

    .rules {
        margin: 5px;
    }

    h1 {
        margin: 5px;
    }
}