#game {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 24px;
    height: 24px;
    text-align: center;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 20%;
    margin: 2px;
    font-size: 23px;
}


.square {
    padding: 20px;
    border: 1.5px solid black;
}

#upper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lower {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #cce5ff;
}

button[disabled] {
    /* Adicione aqui o estilo desejado para botões desabilitados */
    opacity: 0.5;
    /* Por exemplo, reduzindo a opacidade */
    cursor: not-allowed;
    /* Alterando o cursor */
}

.backAndFront {
    width: 100px;
    border-radius: 50px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    line-height: 28px;
    margin: 10px;
}

.tic-tac {
    margin: 20px;
}

button:hover {
    background-color: #007bff;
    /* Cor de fundo quando hover */
    color: #fff;
    /* Cor do texto quando hover */
    border: 1px solid #007bff;
    /* Borda quando hover */
    transition: background-color 1s linear;
    /* Transição suave de cor de fundo */
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shadow {
    filter : drop-shadow(5px 5px 5px red) ;
}